[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
xlwings = "*"
pillow = "*"
kivymd = {file = "https://github.com/kivymd/KivyMD/archive/master.zip"}

[dev-packages]

[requires]
python_version = "3.10"
